/* declaracion de variables */
:root {
    --title-dark: #007bff;
    --title-ligth: #1f1f3a;
    --color-ligth: #f0f0f0;
    --color-dark: #1e1e2a;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

/* GLOBALES */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

#root {
    color: var(--color-ligth);
    background-color: var(--color-dark);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    transition: background 1s ease-out;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 1000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5, 5rem;
}

label {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-ligth);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.5rem;
    color: var(--title-ligth);
}

p {
    font-size: 2rem;
    color: var(--color-dark);
    margin: 15px 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 17px 50px;
    font-size: 2.1rem;
    color: #1e1e2a;
    border-bottom: 1px solid #838080;
    cursor: pointer;
    font-weight: bold;
}

li:hover {
    background-color: var(--color-ligth);
    color: var(--color-dark);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.mini-container {
    width: 50vw;
    min-width: 300px;
    height: 70vh;
    padding: 15px;
    background-color: rgba(255, 255, 255, .400);
    border: 2px solid #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 4rem auto;
    overflow-y: auto;
}

.mini-container.presentation {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Estilo para el scroll */
.mini-container::-webkit-scrollbar {
    width: 12px;
    /* Ancho del scroll */
}

.mini-container::-webkit-scrollbar-track {
    background: transparent;
    /* Color del fondo del track */
    border-radius: 10px;
    /* Bordes redondeados */
}

.mini-container::-webkit-scrollbar-thumb {
    background: var(--title-dark);
    /* Color del scroll */
    border-radius: 40px;
    /* Bordes redondeados */
}

.mini-container::-webkit-scrollbar-thumb:hover {
    background: var(--title-ligth);
    /* Color del scroll al pasar el mouse */
}

/* HEADER */
#menu-bar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.7rem 7%;
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

#menu-bar.hidden {
    display: none;
}

/* logo */
#menu-bar .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    cursor: pointer;
    color: var(--color-ligth);
}

/* menuitem */
#menu-bar .menu-items a,
#menu-bar .menu-items p {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--color-ligth);
    margin: 0;
}

#menu-bar .menu-items a:hover {
    background-color: var(--title-dark);
}

/* search */
.search {
    display: flex;
}

#search-typeMenuBar,
#search-typeSideMenu {
    border-radius: .8rem;
    padding: .5rem;
    font-size: 1.5rem;
    background-color: var(--title-ligth);
    color: var(--color-ligth);
}

.search-box {
    max-width: 240px;
    will-change: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: transparent;
    border-radius: 4rem;
    border: 1px solid var(--color-ligth);
    margin-left: 1.5rem;
}

.search-box #search-buttonMenuBar,
.search-box #search-buttoSideMenu {
    font-size: 2rem;
    cursor: pointer;
}

#search-inputMenuBar,
#search-inputSideMenu {
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    text-align: center;
    background: transparent;
    color: var(--color-ligth);
    font-size: 1.5rem;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-dark);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/* MAIN */
/* bienvenids */
#welcome-content {
    text-align: center;
    color: var(--title-ligth);
}

.welcome-message {
    margin-top: 2rem;
}

/* comentarios */

/* cantos-content */
.content_cantos {
    position: relative;
    text-align: center;
}

.content_cantos h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

/* favoritos-content */
.favoritos-content {
    position: relative;
    text-align: center;
}

.favoritos-content h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.heart-icon,
.play-icon {
    cursor: pointer;
    color: grey;
    margin-left: 10px;
}

.heart-icon.favorited {
    color: red;
}

/* presentar-content */
#presentar-button {
    position: absolute;
    top: 15rem;
    right: 100px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.presentar-content {
    text-align: center;
}

.presentation-content {
    max-width: 70%;
    margin: 0 auto;
}

.presentation-content h2 {
    border-bottom: 2px solid var(--title-ligth);
    padding-bottom: 5px;
}

#prev-button,
#next-button {
    position: absolute;
    color: var(--title-ligth);
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
}

#prev-button:hover,
#next-button:hover {
    opacity: 1;
}

#prev-button {
    left: 1rem;
}

#next-button {
    right: 1rem;
}

#stop-button {
    position: absolute;
    top: 1rem;
    right: 50vw;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
}

#stop-button:hover {
    opacity: 1;
}

#volverPrese-button {
    display: block;
    margin: 10px auto;
}

.presentation-finished {
    text-align: center;
    margin-top: 20px;
}


/* personal-songs-content */
.personal-songs-content {
    position: relative;
    text-align: center;
    color: var(--color-dark);
}

.personal-songs-content h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

/* {

} */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--color-ligth);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    color: black;
    font-weight: bold;
    align-self: flex-start;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form textarea {
    height: 150px;
    resize: vertical;
}

/* contact-content */
.contact-content {
    text-align: center;
    color: var(--color-dark);
}

.contact-content h2 {
    margin: 1rem 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--color-ligth);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
}

.contact-info p {
    color: #333;
}

.contact-info img.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info .social-links {
    display: flex;
    gap: 15px;
}

.contact-info .social-links a img {
    width: 30px;
    height: 30px;
}

.contact-info h3 {
    margin-top: 20px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin: 5px 0;
}

.contact-info ul li a {
    color: #007bff;
    text-decoration: none;
}

.contact-info ul li a:hover {
    text-decoration: underline;
}






/* comments-content */
.comments-content {
    text-align: center;
    color: var(--color-dark);
}

/* boton de regreso */
#back-button {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#back-button:hover {
    background-color: #5a6268;
}

/* eslilos del menu hamburguesa */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-around;
    width: 24px;
    height: 24px;
}

.burger-menu span {
    background-color: var(--color-ligth);
    height: 2px;
    width: 100%;
    transition: all 0.3s;
}

.burger-menu.open span {
    background-color: red;
}

.burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.side-menu {
    display: none;
    position: fixed;
    top: 7.9rem;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    flex-direction: column;
    gap: 20px;
}

.side-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

.side-menu .search {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.side-menu.show {
    display: flex;
}




/* RESPONSIVE */
@media (max-width: 769px) {
    #menu-bar .menu-items {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .side-menu {
        top: 7.9rem;
        width: 70%;
    }

    .side-menu a,
    .side-menu p {
        font-size: 2rem;
        margin: 15px 10px;
        color: var(--color-ligth);
    }

    .side-menu nav {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        margin: 0 4rem;
    }

    .dropdown {
        margin-top: .7rem;
        margin-bottom: 1.4rem;
    }

    .mini-container {
        width: 90vw;
        /* height: 80vh; */
        font-size: 50.5%;
    }

    .presentation-content {
        max-width: 85%;
    }

    #presentar-button {
        top: 8.2rem;
        right: 50px;
    }
}

@media (max-width: 500px) {
    #menu-bar .search {
        display: none;
    }

    .side-menu .search {
        display: flex;
    }

    .side-menu {
        top: 6.1rem;
        width: 80%;
    }

    .comment {
        padding: 0;
    }

    .mini-container {
        width: 98vw;
        /* height: 90vh; */
        font-size: 40.5%;
        margin: 1rem auto;
    }

    .mini-container li {
        padding-inline: 15px 10px;
        font-size: 1.8rem;
    }
/* 
    .presentar-content {
        margin: 4.5rem auto;
    } */

    .presentation-content {
        max-width: 95%;
    }

    #presentar-button {
        top: 6.7rem;
        right: 17px;
    }

    .content_cantos {
        position: relative;
        text-align: left;
    }
    
    .content_cantos h2 {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    #back-button {
        position: absolute;
        top: 5px;
        left: 10px;
        padding: 6px 12px;
        font-size: 13px;
    }
}