/* declaracion de variables */
:root {
    --title-dark: #000;
    --title-ligth: #333;
    --color-ligth: #f0f0f0;
    --color-dark: #555;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

/* GLOBALES */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::before,
*::after {
    box-sizing: border-box;
}

#root {
    color: var(--color-ligth);
    background-color: var(--color-dark);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    transition: background 1s ease-out;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 1000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5, 5rem;
}

label {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-ligth);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.5rem;
    color: #1e1e2a;
}

p {
    font-size: 2rem;
    color: var(--title-dark);
    margin: 15px 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 17px 50px;
    font-size: 2.1rem;
    color: #1e1e2a;
    border-bottom: 1px solid #838080;
    cursor: pointer;
    font-weight: bold;
}

li:hover {
    background-color: var(--color-ligth);
    color: var(--color-dark);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.mini-container {
    width: 50vw;
    min-width: 300px;
    height: 70vh;
    padding: 15px;
    background-color: rgba(255, 255, 255, .400);
    border: 2px solid #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 4rem auto;
    overflow-y: auto;
}

.mini-container.presentation {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
}

/* Estilo para el scroll */
.mini-container::-webkit-scrollbar {
    width: 12px;
    /* Ancho del scroll */
}

.mini-container::-webkit-scrollbar-track {
    background: transparent;
    /* Color del fondo del track */
    border-radius: 10px;
    /* Bordes redondeados */
}

.mini-container::-webkit-scrollbar-thumb {
    background: var(--title-dark);
    /* Color del scroll */
    border-radius: 40px;
    /* Bordes redondeados */
}

.mini-container::-webkit-scrollbar-thumb:hover {
    background: var(--title-ligth);
    /* Color del scroll al pasar el mouse */
}

/* HEADER */
#menu-bar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.7rem 5.5%;
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

#menu-bar.hidden {
    display: none;
}

/* logo */
#menu-bar .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    cursor: pointer;
    color: #bfc651;
    /* color: var(--color-ligth); */
}

.logo .tool{
    font-size: 3.2rem;
}

.logo span{
    color: #ff0800;
}

/* menuitem */
#menu-bar .menu-items a,
#menu-bar .menu-items p {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: 1.5rem 1.5rem;
    color: var(--color-ligth);
    margin: 0;
}

#menu-bar .menu-items a:hover {
    background-color: var(--title-dark);
}

/* search */
.search {
    display: flex;
}

#search-typeMenuBar,
#search-typeSideMenu {
    border-radius: .8rem;
    padding: .5rem;
    font-size: 1.5rem;
    background-color: var(--title-ligth);
    color: var(--color-ligth);
}

.search-box {
    max-width: 210px;
    will-change: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: transparent;
    border-radius: 1rem;
    border: 1px solid var(--color-ligth);
    margin-left: 1.5rem;
}

.search-box #search-buttonMenuBar,
.search-box #search-buttoSideMenu {
    font-size: 2rem;
    cursor: pointer;
}

#search-inputMenuBar,
#search-inputSideMenu {
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    text-align: center;
    background: transparent;
    color: var(--color-ligth);
    font-size: 1.5rem;
}

#micro{
    cursor: pointer;
    font-size: 2.5rem;
    margin-top: 9px;
    margin-left: 10px;
}

/* Dropdown */
#config-icon{
    cursor: pointer;
    font-size: 2.5rem;
}

.dropdown-content-config {
    display: none;
    position: absolute;
    background-color: #ccc;
    min-width: 160px;
    right: 20px;
    top: 57px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-config a {
    font-size: 1.5rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    color: #333;
}

.dropdown-content-config a:hover {
    background-color: #f1f1f1;
}

/* Show Dropdown */
.dropdown-config:hover .dropdown-content-config {
    display: block;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-dark);
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Submenús anidados */
.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown-content .dropdown {
    position: relative;
}

.dropdown-content .dropdown-content {
    top: 0;
    left: 100%;
    margin-left: 1px;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.modal-close {
    position: absolute;
    top: 15.5rem;
    right: 20.5rem;
    font-size: 35px;
    cursor: pointer;
}

.modal-close:hover {
    color: #007bff;
}



/* MAIN */
/* bienvenids */
#welcome-content {
    text-align: center;
    color: var(--title-dark);
}

.welcome-message {
    margin-top: 2rem;
}

/* comentarios */

/* cantos-content */
.content_cantos,
.content_sermon {
    position: relative;
    text-align: center;
}

.content_cantos h2,
.content_sermon h2 {
    margin-top: 3.6rem;
    margin-bottom: 1.5rem;
}

/* favoritos-content */
.favoritos-content {
    position: relative;
    text-align: center;
}

.favoritos-content h2 {
    margin-top: 3.6rem;
    margin-bottom: 1.5rem;
}

.heart-icon,
.play-icon {
    cursor: pointer;
    color: grey;
    margin-left: 10px;
}

.heart-icon.favorited {
    color: red;
}

.play-icon.present {
    color: green;
}

/* presentar-content */
#presentar-button {
    position: absolute;
    top: 15rem;
    right: 100px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.presentar-content {
    text-align: center;
}

.presentation-content {
    max-width: 70%;
    margin: 0 auto;
}

.presentation-content h2 {
    font-size: 3.4rem;
    border-bottom: 2px solid var(--title-ligth);
    padding-bottom: 5px;
}

.presentation-content p {
    font-size: 2.3rem;
}

#prev-button,
#next-button {
    position: absolute;
    color: var(--title-ligth);
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
}

#prev-button:hover,
#next-button:hover {
    opacity: 1;
}

#prev-button {
    left: 1rem;
}

#next-button {
    right: 1rem;
}

#stop-button {
    position: absolute;
    top: 1rem;
    right: 50vw;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
}

#stop-button:hover {
    opacity: 1;
}

.container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bird {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg');
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
}

.bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}

.bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}

.bird-container {
    position: absolute;
    left: -10%;
    transform: scale(0.3) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bird-container--one,
.bird-container--two {
    top: 0.4rem;
}

.bird-container--three,
.bird-container--four {
    bottom: 2rem;
}

.bird-container--one {
    animation-duration: 15s;
    animation-delay: 0;
}

.bird-container--two {
    animation-duration: 16s;
    animation-delay: 1s;
}

.bird-container--three {
    animation-duration: 14.6s;
    animation-delay: 9.5s;
}

.bird-container--four {
    animation-duration: 16s;
    animation-delay: 10.25s;
}

@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}

@keyframes fly-right-one {
    0% {
        transform: scale(0.3) translateX(-10vw);
    }

    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }

    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
}

@keyframes fly-right-two {
    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }

    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }

    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }

    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
    }

    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
}

#volverPrese-button {
    display: block;
    margin: 10px auto;
    font-size: 19px;
    color: var(--color-ligth);
}

.presentation-finished {
    text-align: center;
    margin-top: 20px;
}

.presentation-finished p {
    font-size: 4rem;
    font-weight: bold;
}


/* personal-songs-content */
.personal-songs-content {
    position: relative;
    text-align: center;
    color: var(--color-dark);
}

.personal-songs-content h2 {
    margin-top: 3.6rem;
    margin-bottom: 1.5rem;
}

/* {

} */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--color-ligth);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    color: black;
    font-weight: bold;
    align-self: flex-start;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form textarea {
    height: 150px;
    resize: vertical;
}

/* contact-content */
.contact-content {
    text-align: center;
    color: var(--color-dark);
}

.contact-content h2 {
    margin: 1rem 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--color-ligth);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
}

.contact-info p {
    color: #333;
}

.contact-info img.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info .social-links {
    display: flex;
    gap: 15px;
}

.contact-info .social-links a img {
    width: 30px;
    height: 30px;
}

.contact-info h3 {
    margin-top: 20px;
    font-size: 1.7rem;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin: 5px 0;
}

.contact-info ul li a {
    color: #007bff;
    text-decoration: none;
}

.contact-info ul li a:hover {
    text-decoration: underline;
}






/* comments-content */
.comments-content {
    text-align: center;
    color: var(--color-dark);
}

/* boton de regreso */
#back-button {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 8px 15px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

#back-button:hover {
    background-color: #5a6268;
}

/* eslilos del menu hamburguesa */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-around;
    width: 24px;
    height: 24px;
}

.burger-menu span {
    background-color: var(--color-ligth);
    height: 2px;
    width: 100%;
    transition: all 0.3s;
}

.burger-menu.open span {
    background-color: red;
}

.burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.side-menu {
    display: none;
    position: fixed;
    top: 7.9rem;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    flex-direction: column;
    gap: 20px;
}

.side-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

.side-menu .search {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.side-menu.show {
    display: flex;
}




/* RESPONSIVE */
@media (max-width: 869px) {
    #menu-bar .menu-items {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .side-menu {
        top: 7.9rem;
        width: 70%;
    }

    .side-menu a,
    .side-menu p {
        font-size: 2rem;
        margin: 15px 10px;
        color: var(--color-ligth);
    }

    .side-menu nav {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        margin: 0 4rem;
    }

    .dropdown {
        margin-top: .7rem;
        margin-bottom: 1.4rem;
    }

    .mini-container {
        width: 90vw;
        /* height: 80vh; */
        font-size: 50.5%;
    }

    .presentation-content {
        max-width: 85%;
    }

    #presentar-button {
        top: 8.2rem;
        right: 50px;
    }

    .presentation-content h2 {
        font-size: 3rem;
    }

    .presentation-content p {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    p {
        font-size: 1.7rem;
    }

    #menu-bar .search {
        display: none;
    }

    .side-menu .search {
        display: flex;
    }

    .side-menu {
        top: 6.1rem;
        width: 85%;
    }

    .comment {
        padding: 0;
    }

    .mini-container {
        width: 98vw;
        height: 83vh;
        font-size: 40.5%;
        margin: 1rem auto;
        padding: 8px;
    }

    .mini-container li {
        padding-inline: 15px 10px;
        font-size: 1.8rem;
    }

    /* Estilo para el scroll */
    .mini-container::-webkit-scrollbar {
        width: 5px;
        /* Ancho del scroll */
    }

    /* 
    .presentar-content {
        margin: 4.5rem auto;
    } */

    .presentation-content {
        max-width: 95%;
    }

    #presentar-button {
        top: 6.7rem;
        right: 17px;
    }

    .content_cantos {
        position: relative;
    }

    .content_cantos,
    .favoritos-content,
    .presentar-content,
    .personal-songs-content {
        text-align: left;
    }

    .content_cantos h2 {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    .content_cantos h2,
    .favoritos-content h2,
    .presentar-content h2,
    .personal-songs-content h2 {
        text-align: center;
    }

    #back-button {
        padding: 6px 12px;
        font-size: 13px;
    }

    .presentation-content h2 {
        font-size: 2.4rem;
    }

    .contact-info h3 {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    #volverPrese-button {
        font-size: 15px;
    }

    .presentation-finished p {
        font-size: 2rem;
    }

    .contact-info {
        padding: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .modal-content {
        margin: 0 1.8rem;
        max-width: 360px;
    }

    .dropdown-content .dropdown-content {
        top: 100%;
        left: -20%;
        margin-left: 1px;
    }
}